body{
  margin: 0px;
  padding: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin: 2rem 2rem 2rem 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  padding: 60px;
  text-align: center;
  background-color: #9966cc;
  color: white;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.under-header-header{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.icon-block {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 40%;
  text-align: center;
}

.clicky-icons {
  display: block;
  background: none;
  padding: 0;
  border: none;
}

.clicky-icons:hover {
  color: #996699;
}