/* ---------------- BASIC CSS THINGS ---------------- */
body{
  margin: 0px;
  padding: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/* ---------------- TOP OF PAGE CSS THINGS ---------------- */

#page-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.header {
  width: 100%;
  padding: 60px;
  text-align: center;
  background-color: #9966cc;
  color: white;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header h1{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 50px;
}

.header p{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.under-header-header{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  width: 60%;
}

.under-header-header h1{
  font-family: 'Playfair Display', serif;
}

.under-header-header p{
  color: #505050;
  font-family: 'Open Sans', sans-serif;
}

.icon-block {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 40%;
  text-align: center;
}

.clicky-icons {
  display: block;
  background: none;
  padding: 0;
  border: none;
}

.clicky-icons:hover {
  color: #996699;
}

/* ---------------- "HERE'S WHAT I DO" CSS THINGS ---------------- */

#blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.blog-container{
  display: flex;
}

.blog-box{
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
}

.blog-image{
  width: 100%;
  height: auto;
}

.blog-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.blog-text span{
  color: #9966cc;
  margin-bottom: 5px;
}

.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 600;
  color: #272727;
}

.blog-text .blog-title:hover{
  color:#9966cc;
}

.blog-text p{
  color:darkgrey;
  display: -webkit-box;
}